<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>learn Resources</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="text-align: center;margin:0 auto;width: 800px; ">
    <h1>用户添加测试</h1>
    <form method="post" th:action="@{/user/save}" th:object="${user}">
        <table width="80%" border="1">
            <tr>
                <td>用户名</td>
                <td><input type="text" name="username" th:value="*{username}"  placeholder="username"/></td>
            </tr>
            <tr>
                <td>邮箱</td>
                <td><input type="text" name="email" th:value="*{email}"  placeholder="email"/></td>
            </tr>
            <tr>
                <td>密码</td>
                <td>
                    <input type="password" name="password" th:value="*{password}" placeholder="password"/>
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">密码不能为空</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="提交"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>