<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>learn Resources</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="text-align: center;margin:0 auto;width: 800px; ">
    <h1>用户添加测试</h1>
    <form method="post" th:action="@{/user/save}">
        <table width="80%" border="1">
            <tr>
                <td>用户名</td>
                <td><input type="text" name="userName" value=""  placeholder="userName"/></td>
            </tr>
            <tr>
                <td>邮箱</td>
                <td><input type="text" name="email" value=""  placeholder="email"/></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input type="text" name="password" value="" placeholder="password"/></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="提交"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>